# Binaries
dist/
*.exe
*.dll
*.so
*.dylib
learn.txt
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool
*.out
coverage.txt
.env.example
# Dependency directories
vendor/

# Go workspace file
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Mage
mage_output_file.go

# Helm
helm-releases/*.tgz

# Tilt
.tiltbuild/

# Kubernetes
kubeconfig
*.kubeconfig
